

.corelaclogin-43-3{
position:'' ;width: 100%; height: auto;  background-color: rgba(250,247,251,1.0);top:0px; left: 0;background:''}

.vector-43-4{
position: absolute;left: 715.0px; top: -187.0px; width: 807.434814453125px; height: 989.0}

.group-43-27{
position:absolute ;width: 422.0px; height: 527.0px;  background-color: rgba(0,0,0,0.0);top:150px; left: calc( ( ( 100% - 1440px) / 2 ) + 908px);background:''}

.group-43-28{
position:absolute ;width: 422.0px; height: 527.0px;  background-color: rgba(249,247,249,1.0);top:0px; left: 0px;border-radius: 35.0px;box-shadow: 0.0px 3.0px 47.0px rgba(54, 5, 58, 0.23999999463558197);background:''}

.group-43-29{
position:absolute ;width: 322.0px; height: 353.0px;  background-color: rgba(0,0,0,0.0);top:62px; left: 50px;background:''}

.text-43-30{
position: absolute;
border-radius: 10.0px;border:none;left: 0.0px;
 top: 129.0px;
 width: 322.0px;
 height: 40.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.text-43-34{
position: absolute;
border-radius: 10.0px;border:none;left: 0.0px;
 top: 189.0px;
 width: 322.0px;
 height: 40.0px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.btn-43-38{
position: absolute;
left: 0.0px;
 top: 301.0px;
 width: 322.0px;
 height: 52.0px;
border-radius: 10.0px; background-color: rgba(100, 23, 104, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.text-43-41{
position: absolute;
left: 4.0px;
 top: 251.0px;
 width: 145.0px;
 height: 15.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-43-42{
position: absolute;
left: 241.0px;
 top: 251.0px;
 width: 81.0px;
 height: 15.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-43-43{
position: absolute;
left: 123.0px;
 top: 0.0px;
 width: 73.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(100, 23, 104, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-43-44{
position: absolute;
left: 39.0px;
 top: 42.0px;
 width: 243.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.checkbox-43-45{
position: absolute;left: 271.0px; top: 313.0px; width: 14.7618408203125px; height: 13.478271484375px;}

.vector-43-48{
position: absolute;left: 59.0px; top: 56.0px; width: 143.0px; height: 43.0}

.img-43-65{
position: absolute;left: 59.0px; top: 86.0px; width: 654.0px; height: 654.0px;}

.text-43-66{
position: absolute;
left: 586.0px;
 top: 56.0px;
 width: 59.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(100, 23, 104, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-43-67{
position: absolute;
left: 59.0px;
 top: 766.0px;
 width: 69.0px;
 height: 15.0px;
font-size: 12.0px; color: rgba(109, 109, 111, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-43-68{
position: absolute;left: 59.0px; top: 783.0px; width: 118.02093505859375px; height: 19.0}

.text-43-73{
position: absolute;
left: 680.0px;
 top: 56.0px;
 width: 54.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(100, 23, 104, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-43-74{
position: absolute;
left: 773.0px;
 top: 56.0px;
 width: 36.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-43-75{
position: absolute;
left: 178.0px;
 top: 571.0px;
 width: 349.0px;
 height: 100.0px;
font-size: 40.0px; color: rgba(126, 86, 128, 1.0); font-family: Gilroy-ExtraBold; font-weight: 400;
}

.text-43-76{
position: absolute;
left: 1112.0px;
 top: 788.0px;
 width: 218.0px;
 height: 14.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}