<div class="corelaclogin-43-3" name="Core@LAC Login">
 <img class="vector-43-4" src="assets/images/Core/lac-login/vector-43_4.svg"/>
 <div class="group-43-27" name="Group">
  <div class="group-43-28" name="Group">
  </div>
  <div class="group-43-29" name="Group">
   <input class="text-43-30" placeholder="Email" type="text"/>
   <input class="text-43-34" placeholder="Password" type="text"/>
   <button class="btn-43-38" type="button">
    SIGN IN
   </button>
   <label class="text-43-41" type="text" value="Forgot Email or Password?">
    Forgot Email or Password?
   </label>
   <label class="text-43-42" type="text" value="Remember me">
    Remember me
   </label>
   <label class="text-43-43" type="text" value="Sign in">
    Sign in
   </label>
   <label class="text-43-44" type="text" value="Stay updated on your AI application">
    Stay updated on your AI application
   </label>
  </div>
  <div class="checkbox-43-45">
   <lib-quick-radiocheck [config]="checkboxconfig4345">
   </lib-quick-radiocheck>
  </div>
 </div>
 <img class="vector-43-48" src="assets/images/Core/lac-login/vector-43_48.svg"/>
 <img class="img-43-65" src="assets/images/Core/lac-login/img-43_65.png"/>
 <label class="text-43-66" type="text" value="About Us">
  About Us
 </label>
 <label class="text-43-67" type="text" value="Powerted By">
  Powerted By
 </label>
 <img class="vector-43-68" src="assets/images/Core/lac-login/vector-43_68.svg"/>
 <label class="text-43-73" type="text" value="Contact">
  Contact
 </label>
 <label class="text-43-74" type="text" value="login">
  login
 </label>
 <label class="text-43-75" type="text" value="ALIGNED aI APPLICATIONS">
  ALIGNED aI APPLICATIONS
 </label>
 <label class="text-43-76" type="text" value="©2022 LogicPlum,Inc. All rights reserved.">
  ©2022 LogicPlum,Inc. All rights reserved.
 </label>
</div>
