

.authenticationloginwinnnow-33-742{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,246,249,1.0);top:0px; left: 0;background:''}

.group-33-743{
position:absolute ;width: 720.0px; height: 792.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 720px);background:''}

.img-33-744{
position: absolute;left: 0.0px; top: 0.0px; width: 720.0px; height: 792.0px;}

.group-33-745{
position:absolute ;width: 720.0px; height: 792.0px;  background-color: rgba(28,59,104,0.6000000238418579);top:0px; left: 0px;background:''}

.group-33-746{
position:absolute ;width: 513.0px; height: 216.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 49px;background:''}

.group-33-747{
position:absolute ;width: 513.0px; height: 117.0px;  background-color: rgba(0,0,0,0.0);top:99px; left: 0px;border-radius: 11.0px;background:''}

.group-33-748{
position:absolute ;width: 513.0px; height: 117.0px;  background-color: rgba(255,255,255,0.10000000149011612);top:0px; left: 0px;border-radius: 11.0px;background:''}

.text-33-749{
position: absolute;
left: 16.0px;
 top: 29.0px;
 width: 482.0px;
 height: 60.0px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Jost; font-weight: 300;
}

.group-33-750{
position:absolute ;width: 231.0px; height: 62.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-33-751{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 193.0px;
 height: 29.0px;
font-size: 20.0px; color: rgba(255, 255, 255, 1.0); font-family: Jost; font-weight: 500;
}

.vector-33-752{
position: absolute;left: 3.0px; top: 34.0px; width: 224.0px; height: 1}

.text-33-753{
position: absolute;
left: 1.0px;
 top: 42.0px;
 width: 230.0px;
 height: 20.0px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Jost; font-weight: 400;
}

.group-33-754{
position:absolute ;width: 354.0px; height: 413.0px;  background-color: rgba(0,0,0,0.0);top:189px; left: calc( ( ( 100% - 1440px) / 2 ) + 171px);background:''}

.group-33-755{
position:absolute ;width: 354.0px; height: 373.0px;  background-color: rgba(255,255,255,1.0);top:40px; left: 0px;border-radius: 10.0px;box-shadow: 0.0px 8.0px 53.0px rgba(0, 120, 240, 0.20000000298023224);background:''}

.group-33-756{
position:absolute ;width: 289.0px; height: 361.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 29px;background:''}

.group-33-757{
position:absolute ;width: 289.0px; height: 212.0px;  background-color: rgba(0,0,0,0.0);top:149px; left: 0px;background:''}

.group-33-758{
position:absolute ;width: 276.00048828125px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:113px; left: 7px;background:''}

.text-33-759{
position: absolute;
left: 0.00048828125px;
 top: 0.0px;
 width: 74.0px;
 height: 14.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Jost; font-weight: 300;
}

.group-33-760{
position:absolute ;width: 87.0px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 189px;background:''}

.text-33-761{
position: absolute;
left: 27.0px;
 top: 0.0px;
 width: 60.0px;
 height: 14.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Jost; font-weight: 300;
}

.vector-33-762{
position: absolute;left: 0.0px; top: 1.0px; width: 23.2396240234375px; height: 11.61981201171875}

.btn-33-766{
position: absolute;
left: 53.5px;
 top: 172.0px;
 width: 189.0px;
 height: 40.0px;
border-radius: 10.0px; background-color: rgba(0, 70, 139, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Jost; text-transform: uppercase; font-weight: 500;
}

.text-33-769{
position: absolute;
left: 0.0px;
 top: 81.1204833984375px;
 width: 289.0px;
 height: 30px;
border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-33-773{
position: absolute;
left: 0.0px;
 top: 23.0px;
 width: 289.0px;
 height: 30px;
border-top-style: hidden;border-right-style: hidden;border-left-style: hidden;}

.text-33-777{
position: absolute;
left: 113.999755859375px;
 top: 87.0px;
 width: 60.0px;
 height: 29.0px;
font-size: 20.0px; color: rgba(47, 140, 234, 1.0); font-family: Jost; font-weight: 400;
}

.vector-33-778{
position: absolute;left: 113.999755859375px; top: 0.0px; width: 60.1923828125px; height: 60.1923828125}

.vector-33-781{
position: absolute;left: 39.0px; top: 44.11669921875px; width: 211.0px; height: 50.561279296875}