<div class="authenticationloginwinnnow-33-742" name="Authentication@Login winnnow">
 <div class="group-33-743" name="Group">
  <img class="img-33-744" src="assets/images/Authentication/login-winnnow/img-33_744.png"/>
  <div class="group-33-745" name="Group">
  </div>
  <div class="group-33-746" name="Group">
   <div class="group-33-747" name="Group">
    <div class="group-33-748" name="Group">
    </div>
    <label class="text-33-749" type="text" value="We developed Winnow to empower recruiters. 
Our AI platform helps you efficiently navigate so that you can focus on what you do best: recruiting.

">
     We developed Winnow to empower recruiters. 
Our AI platform helps you efficiently navigate so that you can focus on what you do best: recruiting.
    </label>
   </div>
   <div class="group-33-750" name="Group">
    <label class="text-33-751" type="text" value="Welcome To Winnow">
     Welcome To Winnow
    </label>
    <img class="vector-33-752" src="assets/images/Authentication/login-winnnow/vector-33_752.svg"/>
    <label class="text-33-753" type="text" value="AI Based Tool for Hiring Practitioners">
     AI Based Tool for Hiring Practitioners
    </label>
   </div>
  </div>
 </div>
 <div class="group-33-754" name="Group">
  <div class="group-33-755" name="Group">
  </div>
  <div class="group-33-756" name="Group">
   <div class="group-33-757" name="Group">
    <div class="group-33-758" name="Group">
     <label class="text-33-759" type="text" value="Forgot Password?">
      Forgot Password?
     </label>
     <div class="group-33-760" name="Group">
      <label class="text-33-761" type="text" value="Remember me">
       Remember me
      </label>
      <img class="vector-33-762" src="assets/images/Authentication/login-winnnow/vector-33_762.svg"/>
     </div>
    </div>
    <button class="btn-33-766" type="button">
     Sign in
    </button>
    <input class="text-33-769" placeholder="Password" type="text"/>
    <input class="text-33-773" placeholder="Username" type="text"/>
   </div>
   <label class="text-33-777" type="text" value="Sign in">
    Sign in
   </label>
   <img class="vector-33-778" src="assets/images/Authentication/login-winnnow/vector-33_778.svg"/>
  </div>
 </div>
 <img class="vector-33-781" src="assets/images/Authentication/login-winnnow/vector-33_781.svg"/>
</div>
